.interactive-section {
    width: 100%;
    padding: 30px 6.31944444rem 0 6.31944444rem;
    .image-gifos-container {
        width: 102.6px;
        height: 64px;
        display: inline-flex;
    }
    .createGifos-section {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;;
    width: 10rem;
    height: 2.2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20px;
    }
}